<!-- create Modal  -->
<div class="modal" id="createPost">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create post</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form action="/post/create" method="POST" enctype="multipart/form-data">
              <input type="hidden" name="postOwner" value='<%= user.username %>'>
              <input type="hidden" name="postOwnerId" value='<%= user._id %>'>
              <textarea class="post-text" row="3" type="text" name="postContent" autofocus placeholder="How are you today?"></textarea>

              <label class="file">
                <input type="file" id="file" name="postImage" aria-label="File browser example">
                <span class="file-custom"></span>
              </label>
              
              <div class="d-flex justify-content-lg-end mt-3">
                  <button type="submit" class="btn btn-primary mr-2">Create post</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
          </form>
        </div>

        
      </div>
    </div>
</div>